* {
    box-sizing: border-box;
}

h1,h3 {
    text-align: center;
}

li{
    display: inline-block;
    padding: 20px;
    margin: 50px;
}

img{
    width: 200px;
    height: auto;
    border: 2px;
    border-style: dashed;
}

div{
    width: 100%;
}